@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--popover: #ffffff;
	--popover-foreground: #171717;
	--muted: #f1f5f9;
	--muted-foreground: #64748b;
	--accent: #f1f5f9;
	--accent-foreground: #0f172a;
	--border: #e2e8f0;
	--input: #e2e8f0;
	--ring: #021e32;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-blue-50: #e6f0f7;
	--color-blue-100: #cce1ef;
	--color-blue-200: #99c2e0;
	--color-blue-300: #66a4d0;
	--color-blue-400: #3385c1;
	--color-blue-500: #044b7e;
	--color-blue-600: #192952;
	--color-blue-700: #022d4c;
	--color-blue-800: #021e32;
	--color-blue-900: #010f19;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
